xd
.luarc.json
test*
/.DS_Store
lua/.DS_Store
/root/.DS_Store
spell/
sessions/
todo.norg
startuptimes
smallest_filemanager.lua
unicode_chars
lua/omega/modules/lsp/python.lua
data.lua
notes.norg
operatorfunc.lua
flexible_heirline.lua
ffi.lua
queries.lua
query_test.lua
nice_colors
ui_attach.lua
hl_eol.lua
indent_bl.lua
jobs.lua
nabla_test.lua
snippets
traverse.sh
profiles.lua
neorg_range_operator.lua
minimal_package_overwrite.lua
my_test_package.lua
textopng.py
plugin/packer_compiled.lua
